.a-body {
  overflow: hidden;
  overflow-y: auto;
  padding: 20rpx;
}

.has-tabbar {
  margin-bottom: calc(env(safe-area-inset-bottom) + 120rpx);
}

.has-footer {
  margin-bottom: calc(env(safe-area-inset-bottom) + 120rpx);
}