* {
  font-family:
    system-ui,
    -apple-system,
    "Helvetica Neue",
    sans-serif;
}
page,
uni-app,
uni-page-body {
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: auto;
}

.weui-cells {
  width: 100%;
  border-radius: 10px;
  border: none;
  display: inline-block;
}

.weui-cells:before {
  border-top: none !important;
}

.weui-cells:after {
  border-bottom: none !important;
}

.weui-page {
  padding: 10px;
}
