.el-select {
  width: 100%;
}

.el-scrollbar__thumb {
  background-color: var(--el-color-primary-light-8) !important;
  opacity: 1 !important;
}

.el-popper.is-customized {
  padding: 6px 12px;
  background: #666;
  color: #fff;
  pointer-events: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

  .el-popper__arrow::before {
    background: #666;
    right: 0;
  }

  * {
    pointer-events: none;
  }
}

.rich-text > .el-message-box__content {
  padding: 20px !important;
}

.el-button.el-loading-parent--relative {
  pointer-events: none;
}

.el-loading-mask,
.el-loading-parent--relative {
  cursor: wait !important;
}

.el-button.el-loading-parent--relative .el-loading-mask {
  background: transparent;
  cursor: wait !important;
}

.el-button.el-loading-parent--relative .el-loading-mask {
  .el-loading-spinner .path {
    stroke: white;
    stroke-width: 5px;
  }

  .circular {
    width: 20px;
  }
}

.el-button span {
  transition: all 0.3s;
}

.el-button.el-loading-parent--relative span {
  opacity: 0;
}

.el-cascader-menu__list {
  margin-block: 0;
  padding-inline-start: 0;
  width: 100%;
}

.el-scrollbar__wrap {
  justify-content: center !important;
}

.el-scrollbar__view {
  height: 100%;
}

.el-tree-node__content {
  padding: 3px;
  border-radius: 3px;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: var(--primary-color);
  color: white;
  border-radius: 3px;
  transition: all 0.3s;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content > .el-icon.el-tree-node__expand-icon {
  color: white;
}

.el-tree--highlight-current,
.el-tree-node.is-current,
> .el-tree-node__content,
> .el-icon.el-tree-node__expand-icon.is-leaf {
  color: transparent;
}

.el-input__inner[readonly] {
  cursor: pointer;
}

.el-pagination {
  font-size: 14px;
}

.el-message-box {
  border-radius: 8px;
  box-shadow: 0 2px 29px 1px rgba(6, 15, 38, 0.1);

  .el-message-box__header {
    border-bottom: 1px solid #ebebeb;
    padding: 0 20px 10px 10px !important;

    .el-message-box__title {
      color: #333;
      font-size: 16px;
    }

    .el-message-box__close {
      font-size: 24px !important;
      font-weight: bold !important;
      margin: 8px 10px 0 0 !important;
    }
  }

  .el-message-box__content {
    padding: 20px !important;
    font-size: 15px !important;

    .iconfont,
    .el-message-box__status {
      font-size: 24px !important;
    }
  }

  .el-message-box__btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    .el-button {
      margin: 5px;
      padding: 10px 30px;
      font-size: 14px;
    }

    .danger {
      background-color: var(--el-color-danger);
      border-color: var(--el-color-danger);
    }
  }
}

/*form-item-content换行后错位问题*/
.el-form-item__content {
  align-items: flex-start;
  height: fit-content;
  word-break: break-all;
}

.el-select-dropdown__list {
  width: 100%;
}

.el-table {
  thead {
    color: var(--label-color);
  }

  td {
    .cell {
      color: var(--sub-label-color);
    }
  }
}

.el-form-item__label {
  color: var(--sub-label-color);
}

.el-date-editor {
  // --el-date-editor-width: 100%;
  width: 100%;
}

.el-input,
.el-input-number {
  width: 100%;
}

.el-check-tag[disabled="true"] {
  cursor: not-allowed;
}

.el-table {
  .cell {
    padding: 0 5px !important;

    .el-link {
      font-weight: normal;
    }
  }

  .el-table__body td.el-table__cell.is-center {
    .cell {
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
