* {
  font-family: "Nunito";
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  --primary-color: var(--el-color-primary);
  --text-danger-color: #ff5050;
  --link-main-color: #111;
  --link-hover-color: var(--el-color-primary);
  --title-color: #121212;
  --label-color: #5a5a5a;
  --sub-label-color: #909399;
  /* 图标 */
  --icon-warning-color: #fcb040;
  --icon-error-color: #ff2121;
  --icon-success-color: #67c23a;

  font-family: "Nunito", Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  /*对垂直流动条有效*/
  height: 5px;
  /*对水平流动条有效*/
}

::-webkit-scrollbar-track {
  /* background-color: transparent; */
  border-radius: 10px;
}

/*定义滑块颜色、内阴影及圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: var(--el-color-primary-light-8) !important;
}

/*定义两端按钮的样式*/

::-webkit-scrollbar-button {
  background-color: transparent;
}

/*定义右下角汇合处的样式*/

::-webkit-scrollbar-corner {
  background: transparent;
}

.selector {
  z-index: 100;
}

// 全局css 加上以下代码，可以隐藏上下箭头

// 取消input的上下箭头
input::-webkit-inner-spin-button {
  appearance: none !important;
}

input::-webkit-outer-spin-button {
  appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.big-loading {
  .el-loading-spinner .circular {
    width: 66px;
    height: 66px;
  }

  .el-loading-spinner .path {
    stroke-width: 2;
  }
}

.air-dialog {
  .el-input-number .el-input__inner {
    text-align: left !important;
  }

  .el-date-editor,
  .el-input-number {
    width: 100% !important;
  }

  .el-select .el-input__inner {
    min-height: 32px !important;
  }
}

textarea {
  resize: none !important;
}
